
{{#each projects as |project|}}
<div class="card col-md-5 col-sm-12 d-flex align-items-stretch m-2">
    <img class="card-img-top img-fluid" src={{project.image}} alt='project image'>
    <div class="card-body">
      <h5 class="card-title">{{project.title}}</h5>
      <p class="card-text">{{project.description}}</p>
      <a href={{project.deployed}} target="_blank" class="btn btn-primary">Deployed App</a>
      <a href={{project.gitHubLink}} target="_blank" class="btn btn-success">Github Link</a>
    </div>
  </div>
  {{/each}}